/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 400px;
}

.two {
    display: flex;
    justify-content: space-between;
}
/* Schrijf hier  jouw CSS! */