/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 400px;
}

.two,.three {
    display: flex;
    justify-content: space-between;
}

.three > ul {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    list-style: none;
}

.four {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > label {
    display: flex;
    flex-direction: column;
}

.five {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex-basis: 360px;
    flex-shrink: 0;
    flex-grow: 1;
}
/* Schrijf hier  jouw CSS! */