/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 400px;
}

.two,.three {
    display: flex;
    justify-content: space-between;
}

.three > ul {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    list-style: none;
}
/* Schrijf hier  jouw CSS! */